{template "header.html"}

<link href="{THEME_PATH}assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />

<script src="{THEME_PATH}assets/js/avatar/iscroll-zoom.js"></script>
<script src="{THEME_PATH}assets/js/avatar/hammer.js"></script>
<script src="{THEME_PATH}assets/js/avatar/lrz.all.bundle.js"></script>
<script src="{THEME_PATH}assets/js/avatar/jquery.photoClip.js"></script>
<style>

    #clipArea {
        margin: 20px;
        height: 300px;
    }
    #file,
    #clipBtn {
        margin: 5px;
    }
    #view {
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }
</style>

<div style="margin-top: -20px;">

        <div class="row">
            <div class="col-md-12">
            <div id="view"><img class="img-circle" width="100" height="100" src="{mys_avatar($member.uid)}?cache={SYS_TIME}">
            </div>
            <div class="col-md-12">

                <div id="clipArea"></div>

                <div class="form-body">

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn green btn-file">
                                                <span class="fileinput-new"> {mys_lang('选择图片')} </span>
                                                <input type="file" id="file">
                                            </span>
                            </div>
                            <button type="button" class="btn btn-info" id="clipBtn"> {mys_lang('保存头像')}</button>
                            <button type="button" class="btn btn-info red" onclick="clear_avatar()" id="clipBtn2"> {mys_lang('清空头像')}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    <form action="" class="form-horizontal" method="post" name="myform" id="myform">
        {$form}
    </form>
</div>

<script>
    var clipArea = new bjj.PhotoClip("#clipArea", {
        size: [200, 200],
        outputSize: [200, 200],
        file: "#file",
        view: "#view",
        ok: "#clipBtn",
        loadStart: function() {
            //console.log("照片读取中");
        },
        loadComplete: function() {
            //console.log("照片读取完成");
        },
        clipFinish: function(dataURL) {
            $('#mys_file').val(dataURL);
            mys_ajax_submit('{mys_now_url()}', 'myform', '2000', '{FC_NOW_URL}&r={rand(0, 9999)}');
        }
    });
    function clear_avatar() {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: '{mys_url('member/avatar_del', ['id'=>$member.uid])}',
            success: function (json) {
                mys_cmf_tips(json.code, json.msg);
                setTimeout("window.location.href = '{FC_NOW_URL}&r={rand(0, 9999)}'", 2000);
            },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                mys_ajax_alert_error(HttpRequest, ajaxOptions, thrownError)
            }
        });
    }
</script>

{template "footer.html"}